.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.signup-section {
    padding-bottom: 100px;
}

.signup-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: var(--black);

    margin-bottom: 50px;
}

.signup-inputs-wrapp {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.alert {
    font-size: 12px;
    line-height: 117%;
    color: var(--red);
}

.signup-alert {
    position: absolute;

    left: calc(180px + 16px);
    top: 59px;
}

.signup-position-alert {
    position: absolute;
    left: 16px;
}

.signup-input-text {
    position: relative;
    border: 1px solid var(--light-black);
    outline: none;
    border-radius: 4px;
    background-color: transparent;
    padding: 14px 16px;

    &:not(:last-of-type) {
        margin-bottom: 50px;
    }

    &:last-of-type {
        margin-bottom: 43px;
    }

    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--black);

    &::placeholder {
        color: var(--grey);
    }

    width: 100%;
    max-width: 380px;
}

.error-input {
    border: 2px solid var(--red);
}

.signup-position-wrapp {
    position: relative;
    max-width: 380px;

    margin: 0 auto 47px;

    .signup-position-title {
        font-size: 16px;
        line-height: 162%;
        color: var(--black);

        margin-bottom: 11px;
    }
}

.signup-input-position-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--black);


    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.custom-radio {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid var(--light-black);
    border-radius: 50%;
    cursor: pointer;
    fill: transparent;
}


.signup-input-position:focus+.signup-input-position-label>.custom-radio {
    border-color: var(--blue);
}

.signup-input-position:checked+.signup-input-position-label>.custom-radio {
    padding: 5px;
    border-radius: 50%;
    border-color: var(--blue);
}

.signup-input-position:checked+.signup-input-position-label>.custom-radio>.inner-circle {
    padding: 5px;
    border-radius: 50%;
    background-color: var(--blue);
}


.signup-label-avatar {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 50px;

    .upload-button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        max-width: 380px;
        width: 83px;
        height: 54px;
        border: 1px solid var(--black);
        border-radius: 4px 0 0 4px;

        .upload-title {
            font-size: 16px;
            line-height: 162%;
            text-align: center;
            color: var(--black);
        }
    }

    .upload-field {
        width: 100%;
        height: 54px;
        border: 1px solid var(--light-black);
        display: flex;
        align-items: center;

        .upload-text {
            font-size: 16px;
            line-height: 162%;
            color: var(--grey);
            margin-left: 16px;
        }
    }

    .signup-input-avatar {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }

    .signup-avatar-alert {
        position: absolute;
        bottom: -17px;
        left: 16px;
    }
}

.button {
    margin: 0 auto;
}