@import '../../variables.scss';

.user-item {
    padding: 20px;

    background-color: var(--white);

    border-radius: 10px;

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;

    .user-avatar {
        width: 70px;
        height: 70px;
        border-radius: 100%;
    }

    .user-name {
        max-width: calc(100% - 20px);
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        color: var(--black);

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .user-data-wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .user-position,
        .user-email,
        .user-phone {
            font-weight: 400;
            font-size: 16px;
            line-height: 162%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .user-email {
            cursor: pointer;
        }

        .tooltip-container {
            max-width: calc(100% - 20px);
            position: relative;

            .tooltip {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                padding: 3px 16px;
                opacity: 0;
                visibility: hidden;
                background: var(--black);
                color: var(--white);

                pointer-events: none;

                border-radius: 4px;
                height: 32px;
                display: flex;
                align-items: center;

                font-weight: 400;
                font-size: 16px;
                line-height: 162%;
            }

            &:hover .tooltip {
                pointer-events: visible;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
