@import '../_variables.scss'; 

.hero-section {
    padding-top: 40px;
    padding-bottom: 71px;

    max-width: 1170px;
    margin: 0 auto;
    // background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container {
    max-width: 328px;
}

.hero-title {
    max-width: 328px;
    margin: 0 auto;

    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: var(--white);

    margin-bottom: 21px;
}

.hero-descr {
    max-width: 328px;
    margin: 0 auto;

    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: var(--white);

    margin-bottom: 32px;
}

.hero-button-wrapp {
    display: block;
    width: 100px;
    margin: 0 auto;
}