:root {
    --white: #ffffff;
    --black: rgba(0, 0, 0, 0.87);
    --light-black: #d0cfcf;
    --red: #cb3d40;
    --yellow: #F4E041;
    --blue: #00BDD3;
    --grey: #7e7e7e;
    --light-grey: #F8F8F8;
    --button-hover: #ffe302;
    --button-disabled: #b4b4b4;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

//breakpoints for screen sizes
$breakpoint-mobile: 359px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1023px;
$breakpoint-full-size-desktop: 1169px;

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

@media screen and (min-width: $breakpoint-mobile) {
    // .container {
    //     max-width: 360px;
    // }
}

@media screen and (min-width: $breakpoint-tablet) {
    .container {
        // max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .container {
        // max-width: 1024px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (min-width: $breakpoint-full-size-desktop) {
    .container {
        max-width: 1170px;
        padding-left: 0;
        padding-right: 0;
    }
}