@import '../_variables.scss';

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    outline: 1px solid salmon;
}

@media screen and (min-width: $breakpoint-mobile) {
    .container {
        max-width: 360px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
}

// .logo {};

.btn-list {
    display: flex;
    gap: 10px;
}